html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    color:  #eee;
}

#screenheight {
    width:  100%;
    height: 100%;
    background-color: #547ee9;
}

h1 {
    font-family: Arial;
    text-align:  center;
}

.wrapper {
    position:  absolute;
    top: 50%;
    left:  50%;
    margin-left: -120px;
    margin-top:  -91px;
    -webkit-box-reflect: below 80px -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.2)), to(transparent));
}

.cogs {
    padding:  20px;
    rotation-point: 50% 20%;
}

#cog1 {
    background-image: url('cog1.png');
    width:  67px;
    height: 67px;
    margin-top: -29px;
    margin-left: 52px;
    -webkit-animation:spin-opposite 10s infinite linear;
}

#cog2 {
    background-image: url('cog2.png');
    width:  71px;
    height: 71px;
    -webkit-animation:spin 10s infinite linear;
}

#cog3 {
    background-image:  url('cog3.png');
    width: 67px;
    height: 67px;
    margin-top: -124px;
    margin-left: 78px;
    -webkit-animation:spin 10s infinite linear;
}

@-webkit-keyframes spin {
	from { -webkit-transform:rotate(0deg); }
	to { -webkit-transform:rotate(360deg); }
}

@-webkit-keyframes spin-opposite {
    from { -webkit-transform: rotate(360deg); }
    to { -webkit-transform: rotate(0deg); }
}

@-webkit-keyframes hover {
    0% { margin-top: 0; }
    50% { margin-top: -60px; }
    100% { margin-top:  0; }
}

@-webkit-keyframes rotateswing {
    from { -webkit-transform:  rotate(0deg); }
    to { -webkit-transform:  rotate(360deg); }
}

@-webkit-keyframes swipe {
    0% { margin-left: 0; }
    50% { margin-left: -60px; }
    100% { margin-left:  0; }
}